{% extends 'base.html.twig' %}

{% block title %}
	{% if skillEncoded is defined %}Edition de la compétence{% else %}Ajouter une compétence
	{% endif %}
{% endblock %}

{% block body %}

	<div>
		<p>Modifier la compétence <b>{{ name }}</b></p>
	</div>

	<div id="createOrEditSkill" 
	data-id={{id}} 
	data-name={{name}}
	data-description={{description}}
	></div>


{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('createOrEditSkill') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('createOrEditSkill') }}
{% endblock %}
