{% extends 'base.html.twig' %}

{% block title %}
	Édition de la compétence
{% endblock %}

{% block body %}

	<div>
		<p
		class="font-montserrat uppercase italic px-4 text-center text-tualuBlue font-bold md:text-xl"
		>Compétence</p>
		<br/>
		<p
		class="font-montserrat uppercase italic px-4 text-center text-tualuCoral font-bold md:text-xl"
		>{{ name }}</p>
	</div>

	<div id="editSkill" 
	data-id={{id}}
	data-slug={{slug}} 
	data-name="{{ name }}"
	data-description="{{ description }}"
	></div>


{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('editSkill') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('editSkill') }}
{% endblock %}
